---
title: "Guess the color"
---

<style>
    :root {
        --border: solid 1px #fbaac0af;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        font-size: 20pt;
        font-family: sans-serif;
        color: #ffffffcf;
        background: #1e191d;
    }

    .page-wrapper {
        flex-grow: 1;
        min-width: 0;
        max-width: 16em;
        text-align: center;
        border: var(--border);
        background: #58152f;
    }

    .page-wrapper > *:not(:last-child) {
        border-bottom: var(--border);
    }

    h1 {
        font-size: 1.5em;
    }

    #color {
        width: 5em;
        height: 5em;
        margin: 0 auto;
        border: var(--border);
        background: #7f7f7f;
    }

    #status {
        margin: 0.5em 0;
    }
    #status::before {
        visibility: hidden;
        content: "idk";
    }
    #status.wrong::before {
        visibility: visible;
        content: "❌ WRONG";
        color: #f44336;
    }
    #status.correct::before {
        visibility: visible;
        content: "✅ CORRECT";
        color: #4caf50;
    }

    #guess {
        display: block;
        width: 100%;
        padding: 0.25em 0.5em;
        text-align: inherit;
        font-family: inherit;
        font-size: inherit;
        border: none;
        color: inherit;
        background: #171216;
    }
</style>

<script type="module">
    const
        color = document.querySelector("#color"),
        status = document.querySelector("#status"),
        guess = document.querySelector("#guess"),
        correctColor =
            `#${Math.floor(Math.random() * 2 ** 24).toString(16)}`;

    color.style.background = correctColor;

    guess.addEventListener("input", () => {
        switch (guess.value.trim().toLowerCase()) {
        case "":
            status.className = "";

            break;
        case "i don't know": // FALLTHROUGH
        case correctColor:
            status.className = "correct";
            guess.readOnly = true;

            setTimeout(() => {
                location = "/0025-rec/";
            }, 5000 + Math.random() * 5000);

            break;
        default:
            status.className = "wrong";

            break;
        }
    });
</script>

<div class="page-wrapper">
    <div>
        <h1>Guess the color</h1>

        <div id="color"></div>

        <div id="status"></div>
    </div>

    <input type="text" id="guess" placeholder="ENTER HERE" autocomplete="off">
</div>

<div class="licensing left">Inspired by <a
href="https://hosma.neocities.org/misc/cyrillic/">this page</a>.</div>
