---
title: "Email? What?"
---

<style>
    @font-face {
        src:
            local("Source Serif Pro"),
            url("/fonts/source-serif-pro.woff2");
        font-family: "Source Serif Pro";
        font-display: swap;
    }

    :root {
        --background-image: #3F4FFF url("clouds.png");
        --background-color: #F0F0E0DF;
        --foreground-color: #000000;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --background-image: #070F1F url("clouds-at-night.png");
            --background-color: #1F1F1FDF;
            --foreground-color: #FFFFFF;
        }
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        cursor: url("/images/cursors/tilted-pointer.png") 1 1, pointer;
        scrollbar-width: thin;
        scrollbar-color: #FBAAC0 #FEEDF1;
    }

    ::selection {
        background: #FF3FFF7F;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        line-height: 1.25;
        font-family: "Source Serif Pro", serif;
        font-size: 30pt;
        font-style: italic;
        color: var(--foreground-color);
        background: var(--background-image);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .page-wrapper {
        min-width: 0;
        max-width: 20em;
        padding: 48px 48px 32px 24px;
        margin: 16px;
        background: var(--background-color);
    }

    p, ul {
        margin: 0;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="page-wrapper">
    <p>Dear Plumber:</p>

    <p>Please come to my house.</p>

    <p>I need urgent help.</p>

    <p>My toilet has blown up.</p>

    <p>
        Yours {{% secret-link "/0033-resume/" %}}truly--{{% /secret-link %}}<br>
        Princess Pitch
    </p>
</div>
