---
title: "Falling"
---

<style>
    :root {
        --yellow: #ffeb3b;
        --orange: #ff9800;
        --red: #f44336;
        --pink: #f06292;
        --purple: #9c27b0;
        --indigo: #3f51b5;
        --blue: #2196f3;
        --cyan: #00bcd4;
        --green: #4caf50;
        --lime: #cddc39;
    }

    @keyframes color-change {
        0% {
            background: var(--yellow);
        }
        10% {
            background: var(--orange);
        }
        20% {
            background: var(--red);
        }
        30% {
            background: var(--pink);
        }
        40% {
            background: var(--purple);
        }
        50% {
            background: var(--indigo);
        }
        60% {
            background: var(--blue);
        }
        70% {
            background: var(--cyan);
        }
        80% {
            background: var(--green);
        }
        90% {
            background: var(--lime);
        }
    }

    @keyframes offset-color-change {
        0% {
            background: var(--orange);
        }
        10% {
            background: var(--red);
        }
        20% {
            background: var(--pink);
            pointer-events: auto;
        }
        30% {
            background: var(--purple);
            pointer-events: none;
        }
        40% {
            background: var(--indigo);
        }
        50% {
            background: var(--blue);
        }
        60% {
            background: var(--cyan);
        }
        70% {
            background: var(--green);
        }
        80% {
            background: var(--lime);
        }
        90% {
            background: var(--yellow);
        }
    }

    @keyframes zoom-in {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        animation: infinite step-end 20s color-change;
    }

    .slab {
        width: 100vw;
        height: 100vh;
        animation:
            infinite step-end 20s offset-color-change,
            infinite linear 2s zoom-in;
        pointer-events: none;
    }
</style>

<a href="/0014-utm/" class="secret-link slab" tabindex="-1"></a>
