---
title: "Bruh, Ltd"
description: "The only premium class portable toilet company in the world."
---

<style>
    :root {
        --background-color: #ffffff;
        --foreground-color: #000000;
        --accent-color: #0000ff;
    }

    * {
        scrollbar-color: var(--background-color) var(--foreground-color);
    }

    ::selection {
        color: var(--background-color);
        background: var(--foreground-color);
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        font-size: 14pt;
        font-family: "Times New Roman", serif;
        color: var(--foreground-color);
        background: #7f7f7f;
    }

    .page-wrapper {
        flex-grow: 1;
        min-width: 0;
        max-width: 45em;
        padding: 1em 2em;
        border: solid 1px var(--foreground-color);
        background: var(--background-color);
        box-shadow: 0.25em 0.25em var(--foreground-color);
    }

    .page-wrapper > *:first-child {
        margin-top: 0;
    }
    .page-wrapper > *:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        color: var(--accent-color);
    }

    a:hover {
        text-decoration: underline;
    }

    .domain-hint {
        font-family: "Arial", sans-serif;
        color: #ea4335;
    }

    .domain-hint a {
        font-weight: bold;
        font-style: italic;
        color: #1a0dab;
    }
</style>

<div class="page-wrapper">
    <h1>bruh.ltd</h1>

    <span class="domain-hint">
        Did you mean: <a href="https://www.bruh.ltd/">www.bruh.ltd</a>
    </span>

    <p>This website contains a collection of random web pages, such as demos and
    art projects, that were created for questionable reasons. All of the pages
    are placed in a sequential order and linked to each other with secret links,
    which you should navigate. This page contains {{% secret-link "/0000-ring/"
    %}}one{{% /secret-link %}} too.</p>

    <p>The bruh.ltd domain also hosts instances and landing pages of some
    projects. Feel free to guess how you can find them out.</p>

    <p hidden>Yeah, and we also have <a
    href="https://whyp.it/users/4667/bruh-ltd">music</a>.</p>

    <p>If you have a random web page and you believe it belongs here, feel free
    to submit a <a
    href="https://gitlab.com/warningnonpotablewater/bruh-ltd">merge request</a>.
    Your page will gladly be accepted as long as it's under Creative Commons
    Attribution 4.0.</p>
</div>
