---
title: "Gone."
---

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: "Times New Roman", "serif";
        font-size: 16pt;
        color: #ff0000;
        background: #000000;
    }

    .page-wrapper {
        flex-grow: 1;
        min-width: 0;
        max-width: 42em;
        margin: 1em;
    }

    h1 {
        color: #ffffff;
    }

    .thing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 5em;
        margin-bottom: 1em;
        border: outset 2px #7f7f7f;
    }

    .thing > *:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 5em;
        height: 5em;
        font-size: 2em;
        color: #0000ff;
    }

    .thing > *:last-child {
        flex-basis: 19em;
        flex-grow: 1;
        margin: 1em;
    }
</style>

<div class="page-wrapper">
    <h1>It's</h1>

    <div class="thing">
        <div>Just</div>
        <div>A</div>
    </div>

    <div class="thing">
        <div>Burning</div>
        <div>Memory</div>
    </div>
</div>
