---
title: "Thank You Miss Scott"
---

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        background: #170d0b url("wallpaper.jpg");
    }

    a {
        text-decoration: none;
        color: #ad66bf;
        transition: 0.1s;
    }

    a:hover {
        opacity: 0.5;
    }

    .page-wrapper {
        min-width: 0;
        max-width: 320px;
    }

    .page-wrapper * {
        max-width: 100%;
    }

    .page-wrapper > iframe {
        width: 100%;
        height: 200px;
        border: none;
        background: #000000;
    }

    .privacy-policy {
        font-size: 8pt;
        color: #ffffff;
        background: #000000;
        opacity: 0.5;
    }
</style>

<div class="page-wrapper">
    <map name="painting">
        <area
            shape="rect"
            coords="51,312,102,357"

            href="/0004-www/"
            class="secret-link"

            tabindex="-1"
        >
    </map>

    <p><img usemap="#painting" src="painting.jpg" alt="Flower pot painting"></p>

    <iframe src="https://www.youtube-nocookie.com/embed/PIGzXYvZonY?controls=0"></iframe>

    <p class="privacy-policy">By playing the audio, you agree to YouTube's <a
    href="https://policies.google.com/privacy">privacy policy</a> and <a
    href="https://www.youtube.com/t/terms">terms of service</a>.</p>
</div>
