---
title: "Oklab"
---

<style>
    body {
        text-align: center;
    }

    canvas {
        position: relative;
        max-width: 100%;
        max-height: 100vh;
    }

    canvas.loading {
        opacity: 0.5;
    }

    #next-page {
        margin-top: 20em;
    }
</style>

<script type="module">
    const element = id => document.querySelector(`#${id}`);

    const picker = element("picker");
    const channel = element("channel");

    const canvas = element("canvas");
    const context = canvas.getContext("2d");

    const loading = element("loading");
    const download = element("download");
    const nextPage = element("next-page");

    const worker = new Worker("worker.js");

    let image;

    picker.addEventListener("change", pickFile);
    channel.addEventListener("change", setChannel);
    worker.addEventListener("message", draw);

    async function pickFile() {
        const file = picker.files[0];

        if (!file) {
            return;
        }

        const element = await blobToImage(file);

        image = element;

        nextPage.hidden = Math.random() < 0.9;

        setChannel();
    }

    function setChannel() {
        if (!image) {
            return;
        }

        startLoading();

        context.clearRect(0, 0, canvas.width, canvas.height);

        canvas.width = image.width;
        canvas.height = image.height;

        context.drawImage(image, 0, 0);

        const imageData = context.getImageData(
            0, 0, image.width, image.height,
            {colorSpace: "srgb"}
        );

        worker.postMessage({
            buffer: imageData.data.buffer,
            channel: channel.value
        });
    }

    async function draw(event) {
        const data = new Uint8ClampedArray(event.data);
        const imageData = new ImageData(data, image.width, image.height);

        context.putImageData(imageData, 0, 0);

        await showDownloadLink();
        stopLoading();
    }

    async function showDownloadLink() {
        const blob = await canvasToBlob(canvas);
        const url = URL.createObjectURL(blob);

        download.href = url;
    }

    function startLoading() {
        if (download.href) {
            URL.revokeObjectURL(download.href);
        }

        loading.hidden = false;
        download.hidden = true;

        picker.disabled = true;
        channel.disabled = true;

        canvas.className = "loading";
    }
    function stopLoading() {
        loading.hidden = true;
        download.hidden = false;

        picker.disabled = false;
        channel.disabled = false;

        canvas.className = "";
    }

    function blobToImage(blob) {
        return new Promise((resolve, reject) => {
            const image = new Image();
            const url = URL.createObjectURL(blob);

            image.onload = () => {
                URL.revokeObjectURL(url);

                return resolve(image)
            };
            image.onerror = error => {
                URL.revokeObjectURL(url);

                reject(error);
            }

            image.src = url;
        });
    }

    function canvasToBlob(canvas) {
        return new Promise((resolve, reject) => {
            canvas.toBlob((blob) => {
                if (!blob) {
                    reject();
                }

                resolve(blob);
            });
        });
    }
</script>

<p><input id="picker" type="file" accept="image/*" autocomplete="off"></p>

<p>
    <select id="channel">
        <option value="L">L only</option>
        <option value="a">a only</option>
        <option value="b">b only</option>
        <option value="red">Redscale</option>
        <option value="green">Greenscale</option>
        <option value="blue">Bluescale</option>
        <option value="yellow">Yellowscale</option>
    </select>
</p>

<p id="loading" hidden>Processing the image...</p>
<p><a id="download" hidden>Download</a></p>

<canvas id="canvas">There should be a canvas here.</canvas>

<p id="next-page" hidden><a href="/9999-nine-nine-nine-nine/">Next page</a></p>
