---
title: "NERF"
---

<style>
    @keyframes clock {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes anticlock {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        background: linear-gradient(to top,
            #fbaac0,
            #0caabf,
            #ffffff,
            #0caabf,
            #fbaac0
        );
    }

    .page-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .umbrella {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: url("umbrella.svg");
        background-size: 50vmax;
        background-position: center center;
        background-repeat: no-repeat;
        animation: infinite linear 3s anticlock;
    }

    .triangle {
        width: 150vmax;
        height: 150vmax;
        opacity: 0.8;
        animation: infinite linear 2s clock;
    }
</style>

<script type="module">
    let clickCount = 0;

    document.body.addEventListener("mousedown", () => {
        clickCount++;

        if (clickCount >= 21) {
            location = "/0022-checkerboard/";
        }
    });
</script>

<div class="page-wrapper">
    <div class="umbrella">
        <img src="triangle.svg" class="triangle">
    </div>
</div>
