---
title: "Bruh, Ltd Official Web Ring™"
---

<style>
    *, *::before, *::after {
        box-sizing: border-box;
    }

    ::selection {
        background: #ffec35;
    }

    body {
        max-width: 45em;
        margin: 0 auto;
        line-height: 1.5;
        font-family: sans-serif;
        font-size: 14pt;
        background: #d8d8d8;
    }

    .page-wrapper {
        margin: 1em 0;
        padding: 1em 2em;
        border-radius: 0.5em;
        background: #ffffff;
        box-shadow: 0px 0.125em 0.5em #0000003f;
    }

    .page-wrapper > *:first-child {
        margin-top: 0;
    }
    .page-wrapper > *:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        color: #ed1429;
    }

    a:hover {
        color: #7f7f7f;
    }

    pre {
        scrollbar-width: thin;
        padding: 0.5em 1em;
        overflow: auto;
        border-radius: 0.5rem;
        background: #0000001f;
    }
</style>


<script
    type="module"
    data-bruh-hint="https://bruh.ltd/0000-ring/"
    src="/scripts/libwebring.js"
></script>

<div class="page-wrapper">
    <h1>Bruh, Ltd Official Web Ring™</h1>

    <h2>Browse the ring</h2>

    <p>
        <div><a href="/0001-about/" class="secret-link" tabindex="-1">Next</a>
        site: <a id="lwr-next"></a></div>
        <div>Previous site: <a id="lwr-prev"></a></div>
    </p>

    <h2>What's a web ring?</h2>

    <p>A web ring is a collection of websites connected together via embedded
    links. The name "ring" comes from the fact that the connected websites form
    a circular loop that you can navigate over and over again by pressing
    "next." They were popular in the '90s but got extinct in the 2000s. But not
    this one, as you can see, since it was built in the 2020s for the sole
    purpose of resurrecting the old tradition.</p>

    <h2>How's this ring different from other ones?</h2>

    <ul>
        <li>The ring contains exclusively fucked up websites with questionable
        content and of questionable purpose.</li>
        <li>Instead of making the navigation as obvious as possible, the links
        to the next/previous page are hidden on each website to make it more
        interesting. Well, except this one because it'd be kinda awkward
        otherwise.</li>
        <li>If hiding a web ring widget on your website isn't hidden enough for
        you, you can also make your website accessible only when navigating
        backward/forward.</li>
        <li>The ring is powered by the state of art cutting edge
        <s>blockchain</s> serverless technology also known as a <a
        href="https://libwebring.bruh.ltd/">JavaScript library that parses a
        JSON file</a>.</li>
        <li>The members of the ring get a 25% discount for their first purchase
        of a Bruh, Ltd Official Portable Toilet™.</li>
    </ul>

    <h2>How do I join?</h2>

    <p><b>Step 1.</b> Politely ask <a href="https://www.bruh.ltd/">the owner</a>
    to add you.</p>

    <p>Here's what you should say in order to get accepted:</p>

    <ul>
        <li>The URL of your website including the page on which the widget would
        be located.</li>
        <li>The name of your website.</li>
        <li>The entire English alphabet backwards.</li>
    </ul>

    <p>Your application may be declined if your website is not fucked up enough,
    too fucked up, or the stars align in the wrong way.</p>

    <p><b>Step 2.</b> Add this script to your website.</p>

    <pre>&lt;script type="module" data-bruh-hint="https://example.com/" src="https://bruh.ltd/scripts/libwebring.js"&gt;&lt;/script&gt;</pre>

    <p>Replace <code>https://example.com/</code> with the URL you previously
    sent.</p>

    <p><b>Step 3.</b> Hide the widget so it's hard to find.</p>

    <p>The widget consists of 2 links - one to the previous page and one to the
    next page. In order to make them point to the previous/next website in the
    ring, all you need to do is add an id <code>lwr-prev</code> or
    <code>lwr-next</code> to them.</p>

    <p>For example, here's how your links may look like:</p>

    <pre>&lt;a id="lwr-prev"&gt;Previous&lt;/a&gt;
    &lt;a id="lwr-next"&gt;Next&lt;/a&gt;</pre>

    <p>Note: if you leave the contents your links empty, they'll be filled with
    the name of the website.</p>

    <p>In order for the links to be hard to find, you need to hide them
    somewhere on your page. You may use CSS or even JavaScript for that.</p>

    <p>The easiest method of hiding is shoving the link somewhere in the middle
    of the paragraph. Use this CSS to make the links invisible:</p>

    <pre>#lwr-prev, #lwr-next {
    cursor: inherit !important;
    text-decoration: inherit !important;
    color: inherit !important;
    opacity: 1 !important;
    }</pre>

    <p><b>Step 4.</b> Wait until your website gets accepted.</p>

    <p>Meanwhile, you can drink some tea or something.</p>

    <p><b>Step 5.</b> ???</p>

    <p><b>Step 6.</b> Profit!</p>
</div>
