---
title: "PIN code"
---

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        font-size: 14pt;
        font-family: sans-serif;
        background: #afafaf;
    }

    .page-wrapper {
        flex-grow: 1;
        min-width: 0;
        max-width: 20em;
        padding: 1em;
    }

    #pin-code, .buttons button {
        border: solid 2px #7f7f7f;
    }

    #pin-code {
        display: block;
        width: 100%;
        padding: 0.125em 0.25em;
        margin-bottom: 0.5em;
        text-align: center;
        font-family: monospace;
        font-size: 2em;
        border-radius: 8px;
        color: #00ff00;
        background: #000000;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .buttons button {
        padding: 0.4em 0.9em;
        margin: 0.1em;
        font-size: 2em;
        border-radius: 50%;
        background: linear-gradient(to top, #afafaf, #efefef);
    }

    .buttons button:active {
        background: linear-gradient(to bottom, #afafaf, #efefef);
    }
</style>

<script type="module">
    const
        correctPinCode = "177013",

        pinCode = document.querySelector("#pin-code"),
        buttons = Array.from(
            document.querySelectorAll(".buttons button")
        );

    for (let i = buttons.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));

        [buttons[i], buttons[j]] = [buttons[j], buttons[i]];
    }

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].innerText = i;

        buttons[i].addEventListener("click", () => {
            pinCode.value += i;

            if (pinCode.value == correctPinCode.slice(
                0, pinCode.value.length
            )) {
                if (pinCode.value.length == correctPinCode.length) {
                    location = "/0024-guess-the-color/";
                }
            } else {
                if (pinCode.value.length >= 4) {
                    alert("Wrong PIN code. Please try again");

                    pinCode.value = "";
                }
            }
        });
    }
</script>

<div class="page-wrapper">
    <input type="text" id="pin-code" readonly autocomplete="off">

    <div class="buttons">
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
        <button>0</button>
    </div>
</div>
