@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

.secret-link {
    cursor: inherit !important;
    text-decoration: inherit !important;
    color: inherit !important;
    opacity: 1 !important;
}

.licensing {
    all: initial;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 12pt;
    font-family: sans-serif;
    color: #ffffff;
    background: #0000007f;
    z-index: 9999;
}
.licensing.left {
    left: 0;
    right: unset;
}

.licensing a {
    text-decoration: underline;
    color: #00ffe1;
}
