---
title: "Details"
---

<style>
    :root {
        color-scheme: light dark;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        font-size: 14pt;
        font-family: sans-serif;
    }

    .page-wrapper {
        flex-grow: 1;
        min-width: 0;
        max-width: 25em;
        padding: 1em 2em;
    }

    details {
        padding: 0.5em;
        border: solid 1px #bbbbbb;
        border-radius: 0.5em;
    }

    summary {
        cursor: pointer;
    }
    details[open] summary {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        border-bottom: solid 1px #bbbbbb;
    }

    details > *:nth-child(2) {
        margin-top: 0;
    }
    details > *:last-child {
        margin-bottom: 0;
    }
</style>

<div class="page-wrapper">
    <details>
        <summary>Open</summary>

        <p>Close{{% secret-link "/0009-random-gradient/" %}}.{{% /secret-link %}}</p>
    </details>
</div>
