---
title: "Resume"
---

<style>
    @font-face {
        src:
            local("Source Sans Pro"),
            url("/fonts/source-sans-pro.woff2");
        font-family: "Source Sans Pro";
        font-display: swap;
    }

    :root {
        line-height: 1.5;
        font-size: 14pt;
        font-family: "Source Sans Pro", sans-serif;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        max-width: 500px;
        margin: 0 auto;
        padding: 1em;
    }

    main * {
        overflow-wrap: break-word;
    }

    main > *:first-child {
        margin-top: 0;
    }
    main > *:last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }

    a:hover {
        text-decoration: none;
    }
</style>

<script>
    function checkSelection() {
        const selection = window.getSelection().toString();

        if (
            selection.includes("Doe") &&
            selection.includes("Learn more")
        ) {
            location = "/0034-since/";
        }
    }

    window.addEventListener("keyup", checkSelection);
    window.addEventListener("mouseup", checkSelection);
    window.addEventListener("touchend", checkSelection);
</script>

<main>
    <h1>Jae Doe</h1>

    <h2>Objective</h2>

    <p>Find a job.</p>

    <h2>Skills</h2>

    <p>Doing things.</p>

    <h2>Work experience</h2>

    <h3>Bruh, Ltd (1970-2030)</h3>

    <p>Did impressive stuff.</p>

    <h2>Education</h2>

    <h3>School of education, City City (1901-1970)</h3>

    <p>Studied studying stuff.</p>
</main>
